<a href="https://colab.research.google.com/github/AbhishekAgrawal71/python_program/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")# this is our first python program

Hello World

In [ ]:
print(12346)

12346

In [ ]:
import sys
x=40
y='Abhshek Agrawal'
print(x)
print(type(x)) #print the Data type of x
print(id(x))   #print the address of x
print(y)
print(type(y)) #print the Data type of x
print(id(y))   #print the address of y
x=x+1
y=y+' I am a 1st year student '
print(id(x)) # here the address of x is changed
print(id(y)) # here the address of y is changed
size_of_x=sys.getsizeof(x)
size_of_y=sys.getsizeof(y)
print("size of x is ",size_of_x)
print("size of y is ",size_of_y)
z=[1,2,3,4,5,6] # Here we have initialized a list.
print("The list is : ",z)
z.append("hello") # Here we are updating a list.
print("The updated list is : ")
print(z)

40
<class 'int'>
138370524759504
Abhshek Agrawal
<class 'str'>
138370228974704
138370524759536
138370238933840
size of x is  28
size of y is  89
The list is :  [1, 2, 3, 4, 5, 6]
The updated list is :
[1, 2, 3, 4, 5, 6, 'hello']

In [1]:
a=10+10+20
print(a)

40

In [2]:
a=10+\
10+\
20
print(a)

40

In [11]:
num1=float(input("enter the number"))
print(num1)
num2=int(input("Enter the next number"))
res=num1+num2
print(res)

enter the number20
20.0
Enter the next number30
50.0

In [20]:
# '''
# addition(+)
a=10
b=5
c=a+b
print(c)
# substracttion(-)
d=a-b
print(d)
# multiplication(*)
e=a*b
print(e)
# division(/)
f=a/b
print(f)
# floor devision(//)
g=a//b
print(g)
# exponent(**)
h=a**b
print(h)
# modulus(%)
i=a%b
print(i)

15
5
50
2.0
2
100000
0

**comparison operator**

In [25]:
a=10
b=2
print(type(a==b))
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

<class 'bool'>
True
True
False
False
True

**unary operator**

In [27]:
a=10
b=-(a)
print(a)
print(b)
c=-a
print(c)

10
-10
-10

**Bitwise operators**

In [38]:
# AND (&) -> BOTH SHOULD BE HIGH
# OR  (|)  -> ANY OF ONE SHOULD BE HIGH
# NOT (!)  -> OPPOSITE THE INPUT
# XOR (^)   -> BOTH SHOULD BE OPPOSITE FOR HIGH OUTPUT
a=7
b=5
print(a|b)
print(a&b)
print(a^b)
print(not(a))

7
5
2
False

**shift opereator**

In [49]:
a=10
print(a>>1) # bit of a has a right shift of 1
print(a>>2) # bit of a has a right shift of 2
print(a>>4) # bit of a has a right shift of 4
print(a<<2) # bit of a has a left shift of 2

5
2
0
16069380442589902755419620923411626025222029937827928353013760

**Logical Operator**

In [54]:
a=10
b=5
if((a==b)and(a>b)):
  print("success")
else:
  print("failure")

failure