<a href="https://colab.research.google.com/github/AbhishekAgrawal71/python_program/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")# this is our first python program

Hello World

In [ ]:
print(12346)

12346

In [ ]:
import sys
x=40
y='Abhshek Agrawal'
print(x)
print(type(x)) #print the Data type of x
print(id(x))   #print the address of x
print(y)
print(type(y)) #print the Data type of x
print(id(y))   #print the address of y
x=x+1
y=y+' I am a 1st year student '
print(id(x)) # here the address of x is changed
print(id(y)) # here the address of y is changed
size_of_x=sys.getsizeof(x)
size_of_y=sys.getsizeof(y)
print("size of x is ",size_of_x)
print("size of y is ",size_of_y)
z=[1,2,3,4,5,6] # Here we have initialized a list.
print("The list is : ",z)
z.append("hello") # Here we are updating a list.
print("The updated list is : ")
print(z)

40
<class 'int'>
138370524759504
Abhshek Agrawal
<class 'str'>
138370228974704
138370524759536
138370238933840
size of x is  28
size of y is  89
The list is :  [1, 2, 3, 4, 5, 6]
The updated list is :
[1, 2, 3, 4, 5, 6, 'hello']

In [ ]:
a=10+10+20
print(a)

40

In [ ]:
a=10+\
10+\
20
print(a)

40

In [ ]:
num1=float(input("enter the number"))
print(num1)
num2=int(input("Enter the next number"))
res=num1+num2
print(res)

enter the number20
20.0
Enter the next number30
50.0

In [ ]:
# '''
# addition(+)
a=10
b=5
c=a+b
print(c)
# substracttion(-)
d=a-b
print(d)
# multiplication(*)
e=a*b
print(e)
# division(/)
f=a/b
print(f)
# floor devision(//)
g=a//b
print(g)
# exponent(**)
h=a**b
print(h)
# modulus(%)
i=a%b
print(i)

15
5
50
2.0
2
100000
0

**comparison operator**

In [ ]:
a=10
b=2
print(type(a==b))
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

<class 'bool'>
True
True
False
False
True

**unary operator**

In [ ]:
a=10
b=-(a)
print(a)
print(b)
c=-a
print(c)

10
-10
-10

**Bitwise operators**

In [ ]:
# AND (&) -> BOTH SHOULD BE HIGH
# OR  (|)  -> ANY OF ONE SHOULD BE HIGH
# NOT (!)  -> OPPOSITE THE INPUT
# XOR (^)   -> BOTH SHOULD BE OPPOSITE FOR HIGH OUTPUT
a=7
b=5
print(a|b)
print(a&b)
print(a^b)
print(not(a))

7
5
2
False

**shift opereator**

In [ ]:
a=10
print(a>>1) # bit of a has a right shift of 1
print(a>>2) # bit of a has a right shift of 2
print(a>>4) # bit of a has a right shift of 4
print(a<<2) # bit of a has a left shift of 2

5
2
0
16069380442589902755419620923411626025222029937827928353013760

**Logical Operator**

In [ ]:
a=10
b=5
if((a==b)and(a>b)):
  print("success")
else:
  print("failure")

failure

**Strings
**

In [ ]:
mystr='hello world'
print(mystr)
a=20
a
mystr1='''a
          t
          p'''
print(mystr1)
mystr2="""w
          o
          y"""
print(mystr2)
'''
mystr3="""hello
world"""
print(mystr3)
print(len(mystr3))
print(mystr3[-1])
mystr4=""" hello bro how are you"""
print(len(mystr4))
print(mystr4[0:11])
print(mystr4[-1:])
print(type(mystr4[8:10]))
for i in mystr4 :
  print(i)
  ## write a program to concatenater two strings
  ## taker a multi line string and extract the relavant words only
  a="hello guys"
  b=" hello sir"
print(a+b)

'''

hello world
a
          t
          p
w
          o
          y

'\nmystr3="""hello\nworld"""\nprint(mystr3)\nprint(len(mystr3))\nprint(mystr3[-1])\nmystr4=""" hello bro how are you"""\nprint(len(mystr4))\nprint(mystr4[0:11])\nprint(mystr4[-1:])\nprint(type(mystr4[8:10]))\nfor i in mystr4 :\n  print(i)\n  ## write a program to concatenater two strings\n  ## taker a multi line string and extract the relavant words only \n  a="hello guys"\n  b=" hello sir"\nprint(a+b)\n\n'

In [ ]:
a="welcome to python"
a[0:6]="hello" ## string does not support item assingment you cant to modify the string

TypeError: 'str' object does not support item assignment

**operations **

In [ ]:
a=input("enter the first string")
b=input("enter the second string ")
c=a+b
print(c)
d=int(input("enter the third string"))
e=float(input("enter the fourth string "))
f=d+e
print(f)

enter the first string100
enter the second string 200
100200
enter the third string100
enter the fourth string 200
300.0

**list**

In [ ]:
a=[1,2,0.0,'a',"too"]
print(type(a))
print(a)
a

<class 'list'>
[1, 2, 0.0, 'a', 'too']

[1, 2, 0.0, 'a', 'too']

**Control statements **

In [ ]:
# if else check its control from top tio bottom
temp=21
if temp>30:
  print("It is a hot day")
  print("Drink plenty of water")
elif temp>10:
  print("It is bit cold")
elif temp>20:
  print("It is a good day")

else:
  print("Enjoy")

It is bit cold

In [ ]:
## write the for weight conversion
## convert kg into lbs
weight=25
unit=input("Tell the unit ")

**loops**

In [ ]:
sec_num=14
guess_count=3
counter=0
while counter<guess_count:
  num=int(input("Enter the number"))
  if num==sec_num:
    print("success")
    counter=counter+1
    break
  else:
    counter=counter+1
    print("try again")
print("no of attempts are :",counter)

Enter the number15
try again
Enter the number5
try again
Enter the number14
success

In [1]:
li=[1,2,3,4,5,6,7,8,9]
# for  i in [1,2,3,4,5,6,7,8,9]:
#   print(i)
s1="hello world"
# for i in s1:
#   if (i==s1[2:3]) or (i==s1[-1]) :
#     continue
#   print(i)
# else:
#   print("success")
## range function
for i in range(10):
  print(i)
# for i in range(10,20):
#   print(i)
# for i in (10,20,2): ## it become a set
#   print(i)
# for i in s1:
#   for j in li:
#     print(i,j)

0
1
2
3
4
5
6
7
8
9

**lists**

In [ ]:
c